/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {

	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}
main, footer {
	max-width: 1140px;
	margin: auto;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/*Ajout Front End */
body {
	background-color: #FFFEF8;
}

.filters {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 30px;
}
.filter {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 10px 20px;
	margin : 0 8px;
}

.filter:hover {
	cursor: pointer;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.activate {
	background-color: #1D6154;
	color: white;
}



.displayNone {
	display: none!important;
}

nav ul li:hover, header h1:hover {
	cursor: pointer;
}

/*page login*/

.SectionLogin {
	margin: 100px 0 300px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Work Sans';
}

.divChamp {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
	
}

.divBouton {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0 0;
}

header a {
	text-decoration:none;
} 
header li a {
	color: #000000;
}

input {
	box-shadow: 0 4px 14px 0 rgb(0 0 0 / 9%);
    border: none;
    height: 50px;
    width: 380px;
	margin-top:5px;
	font-family: 'Work Sans';
}
.divBouton a {
	text-align: center;
}

form input:not(#boutonSeConnecter) {
	font-size: 20px;
}

.field-icon {
    margin-left: 351px;
    margin-top: -34px;
    position: relative;
  }
.error {
	color: red;
	text-align: center;
}  
#portfolio .error {
	font-size: 18px;
}

.divModeEdition {
	background-color: black; 
	display: flex; 
	padding: 10px; 
	justify-content: center;
	align-items: center;
}

.fontModeEdition {
	color:white; 
	margin: 0; 
	padding: 0 5px;
	font-family: 'Work Sans'
}

.buttonModeEdition {
	font-family: 'Work Sans';
	font-weight: 700;
	font-size: 14px;
	background-color: white;
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px 20px;
	margin : 0 8px;
}

.modeEditionMain {
	display: flex; 

}
.modeEditionMain2 {
	display: flex; 
	justify-content: center;
	align-items: center;
}

.fontModeEditionMain{
	margin: 0;
	font-family: 'Work Sans';
	font-size: 14px;
	padding: 0 5px;
}

.modal {
	position: fixed ;
	top : 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn .3s both;
}
.modalFadeOut {
	animation: fadeOut .3s both;
}

.modalFadeOut2s {
	animation: fadeOut 2s both;
}

.modalTransOutleft{
	animation: transOutleft .3s both;
}
.modalTransInleft{
	animation: transInleft .3s both;
}
.modalTransOutRight{
	animation: transOutRight .3s both;
}
.modalTransInRight{
	animation: transInRight .3s both;
}


@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes transOutleft {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-150px);
	}
}
@keyframes transInleft {
	from {
		opacity: 0;
		transform: translateX(-150px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	
}
@keyframes transOutRight {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(150px);
	}
}
@keyframes transInRight {
	from {
		opacity: 0;
		transform: translateX(150px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	
}

.modal-wrapper {
	background-color: #FFF;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh  - 20px);
	padding: 15px;
	border-radius: 10px;
	overflow: auto;
}



.js-modal:hover {
	cursor: pointer;
}

.cross {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 25px;
	cursor: pointer;
	
}

.modalTitre {
	font-family: 'Work Sans' ;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}

.card{
	display: flex;
	flex-direction: column;
	margin: 5px 5px;
}
.cardPhoto {
	display: flex;
	position: relative;
}
.cardPhoto img {
	width: 75px;
}
.cardPhoto .garbage {
	position: absolute;
	left: 52px;
    top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
    height: 20px;
    width: 18px;
	border-radius: 2px;
}

.garbage i {
	color: white;
}

.modal-galerie {
	display: flex;
	flex-wrap: wrap;

	margin: 0 100px;
}

.editer {
	margin-top: 3px;
}

input[id='boutonAjouter'] {
	height: 35px;
    width: 239px;
	cursor: pointer;
}

hr {
	margin: 60px 100px 0 100px;
	border: none;
	border-top: 1px solid #B3B3B3;
}

p[id='boutonSupp'] {
	font-family: 'Syne';
	font-weight: 400;
	text-align: center;
	color: red;
	margin-top: -10px;
    margin-bottom: 40px;
	cursor: pointer;
}

.modalCardSelect {
	border: 1px #000000;
	border-style: outset;
}

.modalSelectCard img {
	border: 2px outset;
	border-color: red;
	filter: brightness(.5);
}
.modalSelectCard .garbage {
	background-color: white;
}
.modalSelectCard i {
	color: red;
}

.modalMini {
	background-color: #FFF;
	width: 300px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh  - 20px);
	padding: 15px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modalTitreAlert {
	font-family: 'Work Sans' ;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	
}

.okBouton {
    width: 80px;
    height: 25px;
    border: #1D6154;
    border-radius: 8px;
    background-color: #1D6154;
    color: white;
	margin: 0 3px;
}

.suppBouton {
    width: 80px;
    height: 25px;
    border: indianred;
    border-radius: 8px;
    background-color: indianred;
    color: white;
	margin: 0 3px;
}

.okBouton:hover,.suppBouton:hover {
	cursor: pointer;
}

.modalMini p {
	margin: 25px 0;
	text-align: center;
}

/* loader */
	.loader {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: absolute; top: 0px; left: 85px;
	}
  
	.loader__spinner {
		border: 10px solid #E5E5E5;
		border-left: 10px solid #1D6154;
		transform: translateZ(0);
		animation: spinner 1.1s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
  
	@keyframes spinner {
		0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		}
	
		100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		}
	}

/* formulaire ajout de photos */
	.ajoutPhotoForm {
		width: 420px; 
		background-color: #E8F1F6;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.boutonAjoutPhotoForm {
		font-family: 'Syne';
		font-weight: 400;
		color: #306685;
		background-color: #CBD6DC;
		width: 180px;
		text-align: center;
		border-radius: 60px;
		font-size: 15px!important;
		height: 40px;
	}
	.boutonAjoutPhotoForm:hover{
		cursor: pointer;
	}
	label.boutonAjoutPhotoForm {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	label.boutonAjoutPhotoForm p {
		margin: 0;
		padding: 0;
		font-size: 15px!important;
		font-family: 'Syne';
		font-weight: 400;
		color: #306685;
	}

	.ajoutPhotoForm p {
		font-size: 10px;
		color: #444444;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.ajoutInputForm {
		display: flex;
		flex-direction: column;
	}

	.ajoutInputForm input {
		width: 420px;
		font-size: 16px!important;
	}
	.ajoutInputForm label {
		margin-top: 25px;
	}
	.ajoutInputForm hr {
		margin-top: 25px;
		margin-left: 0;
		margin-right: 0;
	}
	.ajoutBoutonForm {
		margin-top: 20px;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
	}
	.ajoutBoutonForm button {
		width: 200px;
		height: 35px;
		background-color: #A7A7A7;
		color: #FFF;
		border: none;
		border-radius: 25px;
	}
	.ajoutBoutonForm button:hover{
		cursor: pointer;
	}
	#modal1 .modalMini {
		width: 600px;
		display: block;
	}
	.arrowsLeft {
		margin: 10px 0 0 10px;
		cursor: pointer;
	}
	
	#modal1 form {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.ajoutInputForm input {
		padding-left: 15px;
		color: #444444;
	}
	.ajoutInputForm input:focus,
	.ajoutInputForm input:active,
	.ajoutInputForm input:focus-visible {
		outline: solid #A7A7A7 !important;
		border-radius: 3px;
	}

/*widget de choix de la catégorie*/
	p.label {
		margin: 20px 0 0 0;
    	text-align: initial;
	}
	li {
		color: #444444;
	}
	li:hover {
		background: #A7A7A7;
		color: #FFFFFF;
	}

	select {
		margin-top: 5px;
		height: 50px;
		padding-left: 15px;
		font-family: 'Work Sans';
		font-size: 14px;
		box-shadow: 0 4px 14px 0 rgb(0 0 0 / 9%);
		border: none;
	}

	input[id='boutonAjouterPhoto'] {
		opacity: 0;
		height: 0;
		padding: 0;
	}

/* Gestion de la vue de l'index avant le chargement des travaux depuis le back-end*/
.imgInitiale{
	max-height: 386px;
    aspect-ratio: 1/1.4;
    background-color: rgba(0,0,0,0.15);
	margin-bottom: 5px;
	animation: initialVariations .5s alternate infinite;
}

.figcaptionInitial{
	height: 14px;
	max-width: 150px;
	background-color: rgba(0,0,0,0.15);
	animation: initialVariations .5s alternate infinite;
}

@keyframes initialVariations {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
	
}